@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Stack+Sans+Notch:wght@200..700&display=swap');
@import "tailwindcss";

* {
  font-family: "Stack Sans Notch", sans-serif;
}
